<header class="bg-blue-500 p-4 text-white">
  <div class="container mx-auto flex items-center justify-between">
    <!-- Brand Name -->
    <h1 class="text-2xl font-semibold">Crickinfo</h1>

    <!-- Navigation Menu -->
    <nav class="space-x-4">
      <a routerLink="/home" href="#" class="hover:underline text-white">Home</a>
      <a href="/live" class="hover:underline text-white">Live</a>
      <a href="/history" class="hover:underline text-white">History</a>
      <a href="/table" class="hover:underline text-white">Table</a>
    </nav>
    <div></div>
  </div>
</header>
<div class="px-28 py-8">
  <router-outlet></router-outlet>
</div>
